body {
  background-color: black;
  text-align: center;
}

.main_heading {
  font-family: Verdana;
  font-weight: normal;
  font-size: 50px;
  color: white;
  text-align: center;
}

a {
  color: Aquamarine;
  font-size: 16px;
}

h1 {
  font-family: Verdana;
  font-weight: 300;
  color: white;
}

.excursion {
  text-align: right;
  color: grey;
}

p {
  font-family: Verdana;
  font-size: 21px;
  color: grey;
}
